div.info-card {
  background-color: var(--cardBg);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
  width: 100%;
}

div.info-card div.info-card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.info-card div.info-card-section p.title {
  font-size: 14px;
  font-weight: 700;
  color: var(--secondaryText);
}

div.info-card div.info-card-section p.total {
  font-size: 37px;
  font-weight: 700;
  color: var(--mainText);
}

div.info-card div.info-card-section p.increased {
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media(max-width: 480px) {
  div.info-card {
    margin-bottom: 25px;
  }
}