button.switcher {
  background: linear-gradient(to left,hsl(146, 68%, 55%), hsl(210, 78%, 56%));
  width: 50px;
  height: 26px;
  padding: 0px 5px 0px;
  border-radius: 25px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
button:focus {
  outline: none;
}
button.switcher span.switch {
  height: 20px;
  width: 20px;
  background-color: var(--mainBgColor);
  border-radius: 20px;
  transition: all 1s;
}