div.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

main {
  width: 100%;
}

section.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-bottom: 45px;
}

p.section-title {
  margin-bottom: 20px;
  color: var(--mainText);
  font-size: 26px;
  font-weight: 700;
}

@media(max-width: 480px) {
  section.cards-grid {
    display: flex;
    flex-direction: column;
  }
}